* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.carousel {
    width: 100%;
    overflow: hidden;
    border: 6px solid black;
    position: relative;
}

.slider {
    display: flex;
    width: 500%;
    transform: translateX(-20%);
}


.box {
    flex-grow: 1;
    height: 300px;
    font-size: 250px;
    text-align: center;
    background-color: green;
    border: 10px solid blue;
}

.btn-cont {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.btn {
    font-size: 50px;
    padding: 20px;
}